@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;700&family=Tektur&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Saira", sans-serif;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
}

h2 {
  font-size: 2em;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--secondary-text-hover-color);
  }
}

button {
  padding: 10px;
  font-size: 0.8em;
  border-radius: 20px;
  background-color: #8a8a8a;
  color: #fff;
  font-weight: 300;
  border: none;
  transition: .3s ease-in-out;
  cursor: pointer;

  &:hover {
      background-color: #a7a0a0;
    }
}

:root {
  --background-color: #f7f7f7;
  --text-color: #000;
  --link-color: #000;
  --secondary-text-color: #8a8a8a;
  --secondary-text-hover-color: #ccc;
}

[data-theme="dark"] {
  --background-color: #222222;
  --text-color: #f7f7f7;
  --link-color: #f7f7f7;
  --secondary-text-color: #ccc;
  --secondary-text-hover-color: #8a8a8a;
}
